.team:hover .members {
    display: block;
}

.members {
    text-align: left;
    display: none;
}

.team:hover .membersMobile {
    display: block;
}

.membersMobile {
    text-align: left;
    display: none;
}