.leaderboard {
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
        font-size: 1em;
        font-weight: bolder;
        color: rgb(117, 193, 255);
        text-shadow: 0 0 8px #000;
    }
    .section {
        margin-top: 1.5vh;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 16px 0;
        white-space: pre;
        > h2 {
            font-size: 1em;
            font-weight: bolder;
            margin: 8px 0;
        }
        .stars {
            text-align: center;
            display: flex;
            align-items: center;
            .goldStars {
                color: #ffff66;
            }
            .silverStar {
                color: #9999cc;
            }
            .incompleteStars {
                color: transparent;
                user-select: none;
            }
        }
    }
}

.goldStars {
    color: #ffff66;
}
.silverStar {
    color: #9999cc;
}
.incompleteStars {
    color: transparent;
    user-select: none;
}

@media screen and (max-width: 600px) {
    .scrollTable {
        overflow: auto;
        width: 95vw;
        position: relative;
    }
}

.countdownRowWrapper {
    display: flex;
    justify-content: space-between;

    div {
        max-width: 24rem;
    }
}