@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

html,
body,
p {
    padding: 0;
    margin: 0;
    font-family: 'Source Code Pro', monospace;
}

body {
    color: white;
    background: #0f0f23;
}

* {
    box-sizing: border-box;
}